<div class="section scrollspy">
  <ul class="collapsible collapsible-accordion">
    <li>
      <div class="collapsible-header">Selecione as moedas</div>
      <div class="collapsible-body">
        <ul class="collection">
          <%= load_categories_links(@stocks, @categories, @currency_source) %>
        </ul>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row center">
    <div id="stockChart" data-stock="<%= @data_stocks.to_json %>"></div>
  </div>
</div>

<script>loadStock('stockChart');</script>
