<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Jsonrates</h5>
        <p class="grey-text text-lighten-4">We offer a reliable, fast and free JSON API for exchange rates and currency conversion. jsonrates is a service of APILAYER Ltd.</p>
      </div>

      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://jsonrates.com/">Jsonrates API</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="footer-copyright">
    <div class="container">
    Made with <a class="grey-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
