<ul id="dropdown-currency" class="dropdown-content">
  <li><%= link_to :BRL, root_path(source: :BRL)%></li>
  <li><%= link_to :USD, root_path(source: :USD)%></li>
</ul>
<nav role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" href="#!" class="brand-logo"><i class="material-icons">cloud</i>Jsonrates</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdown-currency">
          <i class="material-icons left">language</i>
          Moeda de Origem
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <%= render 'layouts/top_buttons_navigation' %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <%= render 'layouts/top_buttons_navigation' %>
    </ul>
  </div>
</nav>
<script>
  $(".dropdown-button").dropdown();
  $(".button-collapse").sideNav();
</script>
