<nav role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" href="#!" class="brand-logo"><i class="material-icons">cloud</i>Jsonrates</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <%= render 'layouts/top_buttons_navigation' %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <%= render 'layouts/top_buttons_navigation' %>
    </ul>
  </div>
</nav>
<script>$(".button-collapse").sideNav();</script>
